.locality{
    display: flex;
    width: 80%;
    border-radius: 5px;
    height: 50px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}