.inspiration-container {
  padding: 10px;
}

.one-item {
  box-sizing: border-box;
}

/* sets relative position of corousel arrow  */
.carousel-control-prev-icon {
  background-color: black;
  border-radius: 5px;
}

/* sets relative position of corousel arrow  */
.carousel-control-next-icon {
  background-color: black;
  border-radius: 5px;
}
