#flag {
  display: flex;
  align-items: center;
  justify-content: center;
}
#flag img {
  width: 20px;
}
#country-code {
  font-size: 1rem;
  margin-left: 0.5rem;
}
.phone-number {
  width: 100% !important;
}
